
body {
    background-image: url("../images/background.jpg"); 
    margin-bottom: 100px;  
    font-family: 'Lora', serif; /* Google Font */
}


/* Navbar */
.navbar
{
    padding: 0rem 6rem;   
}

.navbar-brand
{ 
    padding: 10px;
    background-color:lightseagreen; 
    margin-right: 0px;
}

.navbar-nav
{
    justify-content: space-evenly;
}

.nav-item{  
    padding-right: 15px;
    padding-left: 15px; 
}

.nav-link
{
    padding: 15px;
}


/* Main page Card */
.card{
    margin-top: 20px;
}

.card-title{
    color: lightseagreen;
}

.line{
    color: #b4b4b4;
    border-width: 3px;
}

/* Portfolio row padding  */
.cardpadding
{
    padding-top: 15px;
    padding-bottom: 15px;
}



/* Footer */
.footer {
    border-top:thick solid;
    border-top-color:lightseagreen;
    background-color: dimgray;
    color:#b4b4b4;
   
  }
  
.footer > .container {
    width: auto;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    color:#b4b4b4;
  }

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* 
Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar > .container{
        margin-left: 0px;
        margin-right:0px;
    }
    .navbar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand{
        font-size: 0.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .navbar-brand{
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .navbar-brand{
        font-size: 1.5rem;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .navbar-brand{
        font-size: 1.5rem;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-brand{
        font-size: 2rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
