
body {
    /* background-image: url("../images/background/image.jpg");  */
    background: url('../images/background/white.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 130px;  
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar
{
    background-color: #0D4F8B !important;
    border-bottom: thick solid;
    border-bottom-color:#b4b4b4;
    padding: 0rem 2rem;  
}


.navbar-brand{
    font-family: serif;
    color: white !important;
}

.navbar .navbar-collapse {
    /*positioning*/
    text-align: right;
}

.navbar-nav
{
    justify-content: space-evenly;
}

.nav-item{  
    padding-right: 15px;
    padding-left: 15px; 
    font-weight: bold;
}

.nav-link
{
    /* padding: 15px; */
    color: white !important;
}
.navbar-toggler{
    background-color: white !important;
}

/* Main page Card */
.card{
    margin-top: 20px;
}

.card-title{
    color: #0D4F8B;
}

.line{
    color: #b4b4b4;
    border-width: 3px;
}

/* Portfolio row padding  */
.cardpadding
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.linkedin:hover{
    transform: scale(1.5);
}
.github:hover{
   transform: scale(1.5);
}
.mail:hover{
   transform: scale(1.5);
}

/* Footer */
.footer {
    border-top:thick solid;
    border-top-color:#b4b4b4;
    background-color: #0D4F8B;
  }

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* 
Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar > .container{
        margin-left: 0px;
        margin-right:0px;
    }
    .navbar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand{
        font-size: 0.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .navbar-brand{
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .navbar-brand{
        font-size: 1.5rem;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .navbar-brand{
        font-size: 1.5rem;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .navbar-brand{
        font-size: 2rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
